* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
/* Styling the single page content */
.page {
    background-color: #889696;
    width: 100%;
    height: 800px;
}

.page p {
  font-family: "Paprika" ;
  color: rgb(11, 46, 11);
  font-size: 18px;
  padding-top: 25px;
  padding-left: 70px;
  padding-right: 100px;
  
}


.page h2 {
  font-family: "Marko One" ;
  color: rgb(8, 8, 79);
  font-size: 36px;
  font-weight: bold;
  padding-top: 50px;
  padding-left: 70px;
  color: #e0e2db;
}

.contact-title {
  margin-left: 120px;
}

.avatar {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid #5f7470;
  margin-left: 70px;
  margin-top: 30px;
  margin-bottom: 30px;
}


h3 {
    margin: auto;
    color: rgb(66, 171, 231);
    font-size: 20px;
}

/* Styling for the contact form */
.form {
  margin-top: 50px;
  display: block;
  color: #d2d4c8;
  font-family: "Marko One" ;
  font-size: 20px;
}

.form input, textarea {
  display: block;
  margin-top: 10px;
  margin-bottom: 25px;
  width: 40%;
  
}

.form button {
  margin-top: 20px;
  background-color: #5f7470;
  width: 25%;
  
}

/* Header component styles */
.header {
  background-image: url('./assets/header.jpg');
  width: 100%;
  height: 200px; 
  
}

.header h1 {
  font-family: "Marko One" ;
  color: #889696;
  font-size: 40px;
  font-weight: bold;
  padding-top: 65px;
  padding-left: 20px;
}

/* Responsive design for small devices */
@media screen and (max-width: 400px) {
  .main-page {
     display: flex;
     flex-direction: column;
  }
  .nav{
    
    position: relative;
    background-color: #889696;
    
  }
  .page {
    height:fit-content;
  }

  .project-gallery {
    padding-left: 15px;
    padding-right: 15px;
  }

  .form {
    margin-left: 50px;
    font-size: 10px;
  }

  .form input, textarea {
    width: 60%;
  }
  .contact-title {
    margin-left: 10px;
  }
  .project-title h2, .project-card p, h6, .page p {
    font-size: 10px;
  }
}

/* Responsive design for large devices */
@media screen and (min-width: 700px) {
  .main-page {
     display: flex;
     flex-direction: column;
  }
  .nav{
    
    position: absolute;
    
  }
  .project-gallery {
    padding-left: 100px;
    padding-right: 100px;
  }
  .form {
    margin-left: 200px;
  }
  
}


/* Footer component styles */
.footer {
  background-color:#889696 ;
  display: flex;
  flex-direction: row;
  justify-content: center; 
  height:100px;
}

.footer a {
  margin-left: 30px;
  transition: transform 250ms;
  color:rgb(11, 46, 11);
}

.footer a:hover {
  transform: translateY(-2px);
  color:rgb(11, 46, 11);
}

/* Navbar component styles */
.nav-item a {
  display: block;
  color: #5f7470;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Mogra";
  font-size: 35px;
  
}

.nav-link-active {
  color: rgb(0, 255, 98);
  background-color:transparent;
}

.nav{
  width: 100%;
  
  top:0;
  padding-top: 40px;
  justify-content: right;
}

.nav-item {
  margin-right: 150px;
}

/* Portfolio component styling */
.project-container {
  width: 350px;
  height: 200px;
  position: relative;
  margin-bottom: 50px;
  margin-right: 100px;
}

.project-title h2 {
  font-family: "Marko One";
  font-size: 15px;
  color: #5f7470;
  font-style: bold;
  padding-top: 20px;
}

.project-card p {
  font-family: "Marko One";
  font-size: 15px;
  font-style: italic;
}

.project-card h6 {
  font-family: "Marko One";
  font-size: 15px;
  margin-left: 70px;
}

.project-card {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  
}
.social-icon {
  color: green;
}

.project-card .image {
  display: block;
  width: 350px;
  height: 200px;
  border-radius: 8px;
  border-style:solid;
  border-color: rgb(11, 46, 11);
  box-shadow: 0 4px 8px;
}

.overlay {
  background: rgba(216, 211, 211, 0.5); 
  color: #f1f1f1;
  transition: .5s ease;
  opacity:0;
  
}


.project-card:hover .overlay {
  opacity: 1;
}

.project-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 50px;
  width: 100%;
  height: auto; 
}

.project-title {
  display: flex;
  flex-direction: row;
}

.project-title a {
  padding-top: 15px;
  padding-left: 5px;
  
}

/* Resume component styles */
.tech-list h3{
  margin-left: 70px;
  color: rgb(5, 31, 5);
}

.tech-list ul {
  margin-left: 100px;
}