* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
}
  
.page {
    background-color: #889696;
    width: 100%;
    /* height: 750px; */
}

.page p {
  font-family: "Paprika" ;
  color: black;
  font-size: 22px;
  padding-top: 25px;
  padding-left: 20px;
}

.page h2 {
  font-family: "Marko One" ;
  color: rgb(8, 8, 79);
  font-size: 36px;
  font-weight: bold;
  padding-top: 50px;
  padding-left: 20px;
  color: #e0e2db;
}

.avatar {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid #330639;
  margin-left: 20px;
}

.header h1 {
  font-family: "Marko One" ;
  color: #889696;
  font-size: 36px;
  font-weight: bold;
  padding-top: 25px;
  padding-left: 20px;
}

h3 {
    margin: auto;
    color: rgb(66, 171, 231);
    font-size: 20px;
}

.form {
  margin-left: 200px;
  margin-top: 50px;
  display: block;
  color: #d2d4c8;
  font-family: "Marko One" ;
  font-size: 20px;
}

.form input, textarea {
  display: block;
  margin-top: 10px;
  margin-bottom: 25px;
  width: 25%;
  
}

.form button {
  margin-top: 20px;
  background-color: #5f7470;
}

.header {
  background-image: url('./assets/header.jpg');
  width: 100%;
  height: 100px; 
}

.header-name {
  text-align: center;
}

.footer {
  background-color:#889696 ;
  display: flex;
  align-content: center;
  justify-content: center;
  height: 100px;
}

.nav-item a {
  display: block;
  color: #5f7470;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Mogra";
  font-size: 25px;
  
}

.nav{
  width: 100%;
  position: absolute;
  top:0;
  padding-top: 10px;
  justify-content: right;
}

.nav-item {
  border-right: 1px solid #bbb;
}

.project-container {
  width: 350px;
  height: 300px;
  position: relative;
  
}

.project-card h2 {
  font-family: "Marko One";
  font-size: 25px;
  color: #5f7470;
}

.project-card p {
  font-family: "Marko One";
  font-size: 20px;
}


.project-card {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  
}

.project-card .overlay {
  border-radius: 8px;
  border-style: solid;
}

/* Make the image to be responsive */
.project-card .image {
  display: block;
  width: 350px;
  height: 300px;
  border-radius: 8px;
  border-style: solid;
}

.overlay {
  background: rgba(216, 211, 211, 0.5); /* Black see-through */
  color: #f1f1f1;
  transition: .5s ease;
  opacity:0;
  
}

/* When you mouse over the container, fade in the overlay title */
.project-card:hover .overlay {
  opacity: 1;
}

.project-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-left: 200px;
  width: 100%;
  height: 750px; 
}

.project-title {
  display: flex;
  flex-direction: row;
}