* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
}
  
.page {
    background-color: rgb(166, 139, 165);
    width: 100%;
    height: 750px;
}

.page p {
  font-family: "Paprika" ;
  color: black;
  font-size: 22px;
  padding-top: 25px;
  padding-left: 20px;
}

.page h2 {
  font-family: "Marko One" ;
  color: rgb(8, 8, 79);
  font-size: 36px;
  font-weight: bold;
  padding-top: 25px;
  padding-left: 20px;
}

.avatar {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid #330639;
  margin-left: 20px;
}

.header h1 {
  font-family: "Marko One" ;
  color: rgb(8, 8, 79);
  font-size: 36px;
  font-weight: bold;
  padding-top: 25px;
  padding-left: 20px;
}

h3 {
    margin: auto;
    color: rgb(66, 171, 231);
    font-size: 20px;
}

.form {
  margin: 100px;
  display: block;
}

.form input, textarea {
  display: block;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 25%;
}

.header {
  background-image: url('./assets/header.jpg');
  width: 100%;
  height: 100px; 
}

.header-name {
  text-align: center;
}

.footer {
  background-color: rgb(166, 139, 165);
  display: flex;
  align-content: center;
  justify-content: center;
  height: 100px;
}

.project-container {
  width: 350px;
  height: 300px;
  
  position: relative;
}

.project-card {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  
}


/* Make the image to be responsive */
.project-card .image {
  display: block;
  width: 350px;
  height: 300px;
  
}

/* The overlay effect - lays on top of the container and over the image */
/* .overlay {
  position: absolute;
  width: 350px;
  height: 300px;
  margin: 25px;
  top: 0;
  bottom: 0;
  left: 0;
  right:0;
  background: rgb(0, 0, 0);
  background: rgba(216, 211, 211, 0.5); /* Black see-through */
  /* color: #f1f1f1;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  
  text-align: center;
} */ 

.overlay {
  background: rgba(216, 211, 211, 0.5); /* Black see-through */
  color: #f1f1f1;
  transition: .5s ease;
  opacity:0;
  
}

/* When you mouse over the container, fade in the overlay title */
.project-card:hover .overlay {
  opacity: 1;
}

.project-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  width: 100%;
  height: 750px;
}

